.editor {
  z-index: var(--w-z-editor);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiIgZmlsbD0ibm9uZSI+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj4KICAgIDxwYXRoIGZpbGw9IiMwMDAiIHN0cm9rZT0iI2ZmZiIgZD0ibTIuMDIgMTYuNjc1LS4xMDUuMTA1LS4wMy4xNDYtMS4zMzIgNi4zNThjLS4xNS42MzYuMDIgMS4yMTYuNDg0IDEuNjc5LjQ2My40NjMgMS4wNDMuNjM0IDEuNjc5LjQ4NGw2LjM1OC0xLjMzMS4xNDYtLjAzLjEwNS0uMTA2TDI0LjU4NyA4LjcxOGMuNjEtLjYxLjkxMy0xLjM3Mi45MTMtMi4yNTNzLS4zMDMtMS42NDQtLjkxMy0yLjI1M2wtMi43OTktMi44QzIxLjE3OC44MDUgMjAuNDE2LjUgMTkuNTM1LjVzLTEuNjQ0LjMwNC0yLjI1My45MTNMMi4wMiAxNi42NzVabTQuNDI2Ljc1M0wxOS41MzUgNC4zNGwyLjEyNSAyLjEyNUw4LjU3MiAxOS41NTRsLTIuMTI2LTIuMTI2WiIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im01Ljc0IDE3LjQzIDEzLjc5LTEzLjggMi44NCAyLjg0LTEzLjggMTMuNzktMi44My0yLjgzWiIvPgogIDwvZz4KICA8ZGVmcz4KICAgIDxjbGlwUGF0aCBpZD0iYSI+CiAgICAgIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoMjZ2MjZIMHoiLz4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgo8L3N2Zz4=") 2 22, auto;
}
