@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --whiteboard-height: 400px; /* keep in px, bc we parse this value in js */

    /* COLORS */
    /* (currently just used in the whiteboard CSS) */
    --color-white: #fff;
    --color-selected: #f1f1f1;
    --color-border-gray: #d0d0d0;
    --color-dark:	#1d1d1d;
    --color-black: #000;
  }
  html {
    font-size: 18px;
  }
  summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;
  }
}

@layer components {
  .card-border {
    -moz-border-image: url(full-box.svg) 20 20 20 20 stretch stretch;
    -webkit-border-image: url(full-box.svg) 20 20 20 20 stretch stretch;
    -o-border-image: url(full-box.svg) 20 20 20 20 stretch stretch;
    border-image: url(full-box.svg) 20 20 20 20 stretch stretch;
    border-width: 20px 20px 20px 20px;
    border-style: solid;
  }
}
