.control {
  position: absolute;
  z-index: var(--w-z-controls);
  width: fit-content;
  user-select: none;
}

.leftCenter {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 0.5rem;
}

.bottomCenter {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 0.5rem;
}

.bottom {
  bottom: 0px;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.top {
  top: 0px;
}
