---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.jsx";
import creativityTools from "../creativity-tools.json";
---

<Layout title="Let's Get Creative">
  <!-- The header renders server-side (at build time) and is hydrated client-side -->
  <Header client:load />

  <main>
    <ul role="list" class="flex flex-wrap justify-center">
      {
        creativityTools.map((tool) => (
          <li class="flex-initial w-1/2 p-4 card-border">
            <a href={tool.link}>
              <h3 class="text-lg font-bold">{tool.name}</h3>
              <p>{tool.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
  /*
    Do we move this into a tailwind component class?
      see: https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes
    Do I make a separate astro component, just so the styles are colocated with the jsx?
      tailwind seems to prefer using the global stylesheet... see: https://tailwindcss.com/docs/adding-custom-styles#layers-and-per-component-css
  */
  .card-border {
    border-style: solid;
    border-width: 40px 40px 40px 40px;
    -moz-border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
    -webkit-border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
    -o-border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
    border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
  }
</style>
