---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.jsx";
import creativityTools from "../creativity-tools.json";
---

<Layout title="Let's Get Creative">
  <!-- TODO: Update so the header renders server-side but the tldraw app renders client-side -->
  <Header client:only="react" />

  <main>
    <ul role="list">
      {
        creativityTools.map((tool) => (
          <li class="my-8">
            <a href={tool.link}>
              <h3>{tool.name}</h3>
              <p>{tool.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
