---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2 class="text-bold text-2xl">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    border-style: solid;
    border-width: 40px 40px 40px 40px;
    -moz-border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
    -webkit-border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
    -o-border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
    border-image: url(box_1.svg) 40 40 40 40 stretch stretch;
  }
  .link-card > a {
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
  }
</style>
